
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>Contact Form </h1>

<form method="POST" id="form1">
{% csrf_token %}
{{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <script>
    
    const form = document.getElementById('form1');
    form.addEventListener("submit",submitHandler);
    
    function submitHandler(e){
        console.log('on');
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'register_url' %}',
            data: $("#form1").serialize(),
            dataType: 'json',
            success: successHandler 
        })
    }
    
    function successHandler(data) {
        console.log(form);
        if (data.msg === 'Success') {
            document.getElementById('form1').reset();
            alert('submitted');
        }
        else {
            alert('failed');
        }
    }
</script>
    




</body>
</html>



