
<html>

<body>

<h1>Contact Form </h1>
{% block content %}
<form action="" method="POST" id="user_form">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="submit" value="Submit"/>
</form>
{% endblock content %}
    
{%block javascripts %}
<script>
 /*   $("#user_form").focusout(function (e) {
        e.preventDefault();
        // get the nickname
        $.ajax({
            type: 'POST',
            url: "/user/create/",
            data: {name:$('#name').val(),
                   email:$('#email').val(),
                   content:$('#content').val(),
                   phone:$('#phone').val(),
                  },
            success: function () {
                // if not valid user, alert the user
                alert("submitted");
                  
            },
           
            
        })
    }) */
</script>

    {% endblock javascripts %}
</body>
</html>