{% load static %}
<html>
<head>
    <title>contact form</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'test1/style1.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
</head>
<body>

<div class="page-header">
<a href="{% url 'register_url' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
<h1>Contact form</h1>
</div>
        
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h2>New Contact</h2>
            <form method="POST" id="form1">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
       
<script>
    
    const form = document.getElementById('form1');
    form.addEventListener("submit",submitHandler);
    
    function submitHandler(e){
        console.log('on');
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'register_url' %}',
            data: $("#form1").serialize(),
            dataType: 'json',
            success: successHandler 
        })
    }
    
    function successHandler(data) {
        console.log(form);
        if (data.msg === 'Success') {
            document.getElementById('form1').reset();
            alert('submitted');
        }
        else {
            alert('failed');
        }
    }
    
</script>
</body>
</html>